build/
__pycache__/
devel/

.vscode
bag/
/misc/*.png
/misc/*cache
log/
install/
/build
.idea/

docker_env/*

openpose_default/

BehaviorTree.ROS
behaviortree_cpp
learning_tf

panda_moveit_config 
moveit_tutorials
.catkin_tools
ignore/
misc_files/

franka_gripper
lmpvc_*

